.top-bar {
  background-color: #F8FFE5

}

.name {
  font-family: 'Montserrat', sans-serif;
  color: #1B9AAA;
  font-size: 40px;
  text-align: center;
}

.title-area {
  color: #1B9AAA;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  background-color: #F8FFE5;
  margin-top: 12px;
}

.title-area a {
  text-decoration: none;
  color: inherit;
}

.entry-prompt {
  background-color: #F8FFE5;
  color: #1B9AAA;
  font-family: 'Montserrat', sans-serif;
}

.entry-response {
  background-color: #F8FFE5;
  color: #06D6A0;
  font-family: 'Montserrat', sans-serif;
}

.link {
  background-color: #F8FFE5;
  color: #EF476F;
  font-family: 'Montserrat', sans-serif;
}

.top-bar-section {
  position: fixed;
  width: 100%;
}

.right {
  float: right;
  margin-right: 30px;
}

.entry-li {
  list-style: none;
}










/* .new-review-form-panel {
  background-color: #1B9AAA;
} */
