.top-bar {
  background-color: #F8FFE5

}

.name {
  font-family: 'Montserrat', sans-serif;
  color: #1B9AAA;
  font-size: 40px;
  text-align: center;
}

.entry-title {
  color: #1B9AAA;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  background-color: #F8FFE5;

}

.entry-prompt {
  background-color: #F8FFE5;
  color: #1B9AAA;
  font-family: 'Montserrat', sans-serif;
}

.entry-response {
  background-color: #F8FFE5;
  color: #06D6A0;
  font-family: 'Montserrat', sans-serif;
}

.link {
  background-color: #F8FFE5;
  color: #EF476F;
  font-family: 'Montserrat', sans-serif;
}











/* .new-review-form-panel {
  background-color: #1B9AAA;
} */
